<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Set the schema generation strategy -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Database connection properties -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/resturant_hibernate_java_cli</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Jarah*2002</property>

        <!-- Specify the dialect for MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Entity mappings -->
        <mapping class="io.progressoft.menu.repository.entities.MenuItemEntity"/>
        <mapping class="io.progressoft.order.repository.entities.OrderEntity"/>
        <mapping class="io.progressoft.order.repository.entities.OrderItemEntity"/>

    </session-factory>
</hibernate-configuration>
